body {
    background-color: white;
}

h1 {
    color: black;
    text-decoration: underline;
}

h2, h3, h4, h5 {
    color: black;
}

p {
    color: black;
    font-family: sans-serif;
}

#page-container {
    position: relative;
    padding: 25px;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 200px;
    /* Footer height */
}

.information-paragraph {
    padding-left: 25px;
    padding-right: 25px;
}

.information-paragraph img {
    width: 100%;
    height: 100%;
}

.footer-basic {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: black;
    margin-bottom: 10px;
}

.footer-basic .integrantes li {
    margin-top: 4px;
    text-align: center;
    font-size: 13px;
    color: black;
    margin-bottom: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    width: 33.33%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.column-heading {
    text-align: center;
}

.column-heading h5 {
    font-weight: bold;
}

.column-heading h6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tool-links {
    padding-top: 10px;
}

.tool-links li {
    list-style-type: square;
}

.used-resources {
    padding-top: 10px;
}

.used-resources li {
    font-size: large;
    color: black;
}

.used-resources a {
    font-size: large;
    color: black;
}